<div class="carousel-inner" role="listbox">
    <div class="item active">
        <h4 class="album-name"><i class="fa fa-music"></i> {{albumThumbnail.albumName}} </h4>
        <p [routerLink]="['/albums', albumThumbnail.albumName]">view album<i class="fa fa-chevron-right"></i></p>
        <img [src]="albumThumbnail.img" alt="..." >
        <div class="container">
            <!-- banner caption -->
            <div class="carousel-caption slide-one">
                <!-- heading -->
                <!-- button -->
            </div>
            <div class="featured-item-info">
                <!-- some responce from social medial or web likes -->
                <p>1024+ <span class="label label-theme">Like</span>&nbsp;&nbsp;</p>
                <p>825+ <span class="label label-theme">Love</span></p>
            </div>
        </div>
    </div>
</div>